nav {
    @include width;
    background: #ffffff3b;
    color: $color1;;

    div {
        display: flex;
        justify-content: space-between;
        height: 60px;
    }

    ul {
     @include center;
     padding-left: 0;
     width: 100%;
         
    }

}

    .nav_left {
        width: 40%;

        &:hover li:not(:hover) {
            background: none;
            color: $color1;
        }

        li {
            @include center;
            font-size: 0.7rem;
            letter-spacing: 1px;
            font-weight: 700;
            height: 100%;
            padding: 0 10px;
            transition: 1s;

            &:first-child {
                background: $color3;
                color: $color2;
            }

            &:hover {
                background: $color3;
                color: $color2;
            
            }
        }


    }

    .nav_right {
        width: 20%;
        justify-content: space-around;

        li{
            transition: 0.5s;
            &:hover {
                font-size: 1.4rem;
            }
          
        }
    }
    
