@font-face {
    font-family: 'font1';
    src: url(/assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: 'font2';
    src: url(/assets/fonts/Merriweather-Regular.ttf);
}

$font1: font1, sans-serif; 
$font2: font2, sans-serif;
$color1: white;
$color2: black;
$color3: #E9E9E9; 
$color4 : #696969;


@mixin center {
    display: flex;
    align-items: center;

}

@mixin width {
    max-width: 1500px;
    margin: 0 auto;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: $font1;
}

body{
    text-align: center;
    padding: 70px 150px 150px 150px;
    background: url(../image/bg.jpg) center/cover fixed;
    max-width: 1300px;
    margin: 0 auto;


    &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: rgb(49, 47, 47);
        animation: animBefore 1.5s ease forwards;
        animation-delay: 0.15s;

        @keyframes animBefore {
            to {
                opacity: 0;
            }
            
        }
    }
}

ul {
    list-style: none;
}

li {
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}

p{
    line-height: 40px;
}

.buttons{
    background: transparent;
    text-transform: uppercase;
    font-weight: 800;
    padding: 10px 30px;
    letter-spacing: 2px;
    font-size: 0.9rem;
    border: solid 2px;
    transition: 0.5s;
    cursor: pointer;

    &:hover {
        background: $color3;

    }
}

.article_left, .footer_left {
    border-right:  solid $color3 1px;
    
}

