@font-face {
  font-family: "font1";
  src: url(/assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
  font-family: "font2";
  src: url(/assets/fonts/Merriweather-Regular.ttf);
}
* {
  margin: 0;
  box-sizing: border-box;
  font-family: font1, sans-serif;
}

body {
  text-align: center;
  padding: 70px 150px 150px 150px;
  background: url(../image/bg.jpg) center/cover fixed;
}

ul {
  list-style: none;
}

li {
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}

p {
  line-height: 40px;
}

.buttons {
  background: transparent;
  text-transform: uppercase;
  font-weight: 800;
  padding: 10px 30px;
  letter-spacing: 2px;
  font-size: 0.9rem;
  border: solid 2px;
  transition: 0.5s;
}
.buttons:hover {
  background: #E9E9E9;
}

.article_left, .footer_left {
  border-right: solid #E9E9E9 1px;
}

header {
  height: 85vh;
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1500px;
  margin: 0 auto;
  height: 100%;
  color: white;
}
.header_container h1 {
  font-size: 5rem;
  text-transform: uppercase;
}
.header_container p {
  margin: 60px 0;
}
.header_container i {
  border: solid 2px;
  padding: 20px;
  border-radius: 40px;
  font-size: 1.1rem;
}

nav {
  max-width: 1500px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.231372549);
}
nav div {
  display: flex;
  justify-content: space-between;
  height: 60px;
}
nav ul {
  display: flex;
  align-items: center;
  padding-left: 0;
  width: 100%;
}

.nav_left {
  width: 40%;
}
.nav_left li {
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  letter-spacing: 1px;
  font-weight: 900;
  height: 100%;
  padding: 0 10px;
  transition: 1s;
}
.nav_left li:hover {
  background: #E9E9E9;
}

.nav_right {
  width: 20%;
  justify-content: space-around;
}
.nav_right li {
  transition: 0.5s;
}
.nav_right li:hover {
  font-size: 1.4rem;
}

.main {
  background: white;
  height: 1300px;
  max-width: 1500px;
  margin: 0 auto;
  padding: 50px;
}

.date_main {
  position: relative;
}
.date_main p {
  font-size: 1.1rem;
}
.date_main::before {
  content: "";
  position: absolute;
  background: #E9E9E9;
  width: 35%;
  height: 1px;
  left: 5%;
  top: 50%;
}
.date_main::after {
  content: "";
  position: absolute;
  background: #E9E9E9;
  width: 35%;
  height: 1px;
  right: 5%;
  bottom: 50%;
}

.header_main {
  margin: 40px;
}
.header_main h2 {
  font-size: 4rem;
  text-transform: uppercase;
}
.header_main p {
  max-width: 50%;
  margin: 30px auto;
  letter-spacing: 1px;
  font-style: italic;
}

.main_img {
  margin: 0 auto;
  max-width: 1000px;
  margin-bottom: 40px;
}
.main_img img {
  width: 95%;
}

.article {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background: white;
  border-top: solid #E9E9E9 1px;
}
.article h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  line-height: 35px;
  font-weight: 700;
  font-family: font1;
  margin-top: 10px;
}

.article_left, .article_right {
  width: 50%;
  margin: 0 auto;
  padding: 50px 0;
  height: 860px;
}
.article_left div, .article_right div {
  max-width: 100%;
  padding: 20px;
  margin: 0 auto;
}
.article_left div img, .article_right div img {
  max-width: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}
.article_left div p, .article_right div p {
  max-width: 80%;
  margin: 30px auto;
  text-align: left;
}

footer {
  max-width: 1500px;
  margin: 0 auto;
  color: #696969;
}
footer label, footer h6 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8rem;
}

.footer_container {
  display: flex;
  align-items: center;
  background: white;
  margin-top: 40px;
}

.footer_left, .footer_right {
  width: 50%;
  height: 675px;
}

.footer_left {
  padding: 50px;
}

.form_grid {
  display: grid;
  grid-template-areas: "na na" "em  em" "area area" "but void";
  gap: 30px;
  text-align: left;
  align-items: center;
}
.form_grid .name {
  grid-area: na;
}
.form_grid .email {
  grid-area: em;
}
.form_grid .textarea {
  grid-area: area;
}
.form_grid .buttons {
  grid-area: but;
  justify-content: center;
  color: #696969;
}
.form_grid input[type=text], .form_grid textarea {
  border-radius: 5px;
  border: solid 1px #E9E9E9;
  background: white;
}
.form_grid input[type=text] {
  width: 100%;
  margin-top: 20px;
  height: 50px;
}
.form_grid input[type=submit] {
  padding: 10px 0;
  width: 200px;
}
.form_grid textarea {
  width: 100%;
  resize: none;
  height: 200px;
  margin: 20px auto;
}

.footer_right {
  display: flex;
  flex-direction: column;
}
.footer_right div:nth-child(4) {
  border-bottom: none;
}
.footer_right .footer_right_container {
  display: flex;
  align-items: center;
  height: 165px;
  border-bottom: solid #E9E9E9 1px;
  padding: 20px 20px 20px 40px;
  justify-content: flex-start;
}
.footer_right .footer_right_container #adress {
  margin-bottom: 20px;
}
.footer_right .footer_right_container div {
  width: 50%;
  margin: 0 auto;
  text-align: left;
}
.footer_right .footer_right_container div p {
  font-size: 0.9rem;
  line-height: 25px;
  font-weight: 500;
  color: rgba(105, 105, 105, 0.7803921569);
}
.footer_right .footer_right_container ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
}
.footer_right .footer_right_container ul li {
  border: solid #E9E9E9 1px;
  padding: 10px;
  border-radius: 30px;
  color: black;
}

@media screen and (max-width: 1300px) {
  .header_main p {
    max-width: 90%;
  }
}
@media screen and (max-width: 1000px) {
  body {
    padding: 70px;
  }
  .date_main::before, .date_main::after {
    width: 25%;
  }
}
@media screen and (max-width: 710px) {
  body {
    padding: 50px;
  }
  .header_container h1 {
    font-size: 2.5rem;
  }
  .nav_left {
    width: 100%;
    justify-content: space-around;
  }
  .nav_left li {
    padding: 0 35px;
  }
  .nav_right {
    display: none;
  }
  .main {
    padding: 20px;
    height: 1100px;
  }
  .header_main h2 {
    font-size: 2rem;
  }
  .article {
    display: block;
  }
  .article_left, .article_right {
    width: 100%;
  }
  .footer_container {
    display: block;
  }
  .footer_left {
    border: none;
    margin: 0 auto;
    width: 100%;
  }
  .footer_right {
    width: 100%;
    border-top: solid #E9E9E9 1px;
  }
}
@media screen and (max-width: 470px) {
  .nav_left li {
    padding: 5px;
    font-size: 0.6rem;
  }
  .date_main::before, .date_main::after {
    width: 20%;
  }
  .form_grid {
    display: block;
  }
  .form_grid input[type=submit] {
    padding: 10px 0;
    width: 150px;
  }
}/*# sourceMappingURL=index.css.map */